@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<DOMAIN.Entities.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects financed by this bank</h2>

<table class="table">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.banque.BanqueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </th>
    </tr>


    @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company.CompanyName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.banque.BanqueName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTime)
            </td>
        </tr>
    }
</table>
